<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="dbConnection" value="Data Source=localhost;Initial Catalog=Corsatwebsite_db;User ID=sa;Password=sqladmin"/>
    <!--<add key="dbConnection" value="Data Source=anbaermia.com;Initial Catalog=anbaermia_comdb;User ID=anbaermia_comLogin;Password=!anbaermia_comLogin!123"/>-->
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=mena-pc;Initial Catalog=Corsatwebsite_db;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer" connectionString="Data Source=anbaermia.com;Initial Catalog=anbaermia_comdb;User ID=anbaermia_comLogin;Password=!anbaermia_comLogin!123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <system.web>
      <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/Error.aspx">
        <error statusCode ="404" redirect="~/NotFound.aspx"/>        
      </customErrors>
      <authentication mode="Forms" />
      <roleManager enabled="true" />
      <httpRuntime executionTimeout="2000" maxRequestLength="11000"/>
      <compilation debug="true" targetFramework="4.0" />
      <membership>
        <providers>
          <clear/>
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
        </providers>
      </membership>
      <machineKey validationKey="336874A98574B7ADB0AB7A14FDBD7950545C85060DE227E6C707546FD02F7C24E7DD26D84E2AA4AC3AAE73DCDAEA46B64E6915A62CBFEFA06C5EFB257E25E0BB" decryptionKey="765221CB7534DB0DE82DF87A1578DE9E5758F7673BCA1ED72707A9408010BFB4" validation="SHA1" decryption="AES" />
    </system.web>

</configuration>
